#root {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
}


.color-empty {
  fill: #e5e7eb; /* Tailwind gray-300 */
}
.color-scale-1 {
  fill: #bbf7d0; /* green-200 */
}
.color-scale-2 {
  fill: #86efac; /* green-400 */
}
.color-scale-3 {
  fill: #4ade80; /* green-600 */
}
